#!/bin/bash

watch_file "pyproject.toml" "uv.toml" "uv.lock"
uv sync
# shellcheck disable=SC2016
sd '^(\s*)?(?P<key>include-system-site-packages)(\s*)?=(\s*)?(?<val>.*)$' '$key = true' ".venv/pyvenv.cfg"
# shellcheck disable=SC1091
source ".venv/bin/activate"
